
<div class='row' style='margin-top:2em;'>


    <div class='col-sm-3' style='padding:10px;'>
      <a href="letters.html">
       <div style='width:100%;height:400px;background-image:url(assets/images/TheLetters.jpg);padding:3em;background-position:center;background-size:cover;'></div>
       <h2>The Letters</h2>
      </a>
    </div>
    <div class='col-sm-3' style='padding:10px;'>
      <a href="syllabary.html"><div style='width:100%;height:400px;background-image:url(assets/images/TheSyllables.jpg);padding:3em;background-position:center;background-size:cover;'></div><h2>The Syllabary</h2></a>
    </div>
    <div class='col-sm-3' style='padding:10px;'>
      <a href="numerals.html"><div style='width:100%;height:400px;background-image:url(assets/images/TheNumerals.jpg);padding:3em;background-position:center;background-size:cover;'></div><h2>The Numerals</h2></a>
    </div>
    <div class='col-sm-3' style='padding:10px;'>
      <a href="history.html"><div style='width:100%;height:400px;background-image:url(assets/images/TheHistory.jpg);padding:3em;background-position:center;background-size:cover;'></div><h2>The History</h2></a>
    </div>

</div>  

